# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
//git init, git remote add origin https://github.com/Benson-xix/Mini-Mart.git,   git branch -M main,  git add ., $ git commit -am "done", git push -u origin main, to updaate  git add . , git commit and git push